.root {
  overflow-x: hidden;
}
.landing-container {
  position: relative;
  height: 100vh;
}
.landing-web {
  overflow-x: hidden;
  background: linear-gradient(343.65deg, #22223a 8.03%, #613b5e 87.95%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
